// bower:scss
// endbower
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.assetRiskView {
  h2,
  h4 {
    font-weight: initial;
  }
  .left-view,
  .right-view {
    width: 50%;
    float: left;
  }
  .text-right {
    text-align: right;
  }
  .top-info {
    color: #706F6E;
    font-size: 16px;
    .asset-stat {
      font-size: 16px;
      font-weight: 600;
    }
    .asset-count {
      font-size: 28px;
      .left-view {
        padding-right: 20px;
        .pending-count {
          float: right;
        }
      }
      .right-view {
        padding-left: 20px;
        .accepted-count {
          padding-left: 20px;
          float: left;
        }
      }
      .pending-count,
      .accepted-count {
        text-align: center;
        width: 65px;
      }
      .right-view,
      .left-view {
        box-sizing: border-box;
      }
      .acc-stat:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 12px;
        border: solid #8CC63F;
        margin-right: 8px;
        margin-bottom: 1px;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    .select-all-container {
      width: 345px;
      padding: 10px;
      padding-left: 85px;
      font-weight: 600;
      .select-all {
        background: transparent url(../images/fullscreen.svg) left top no-repeat;
        padding-left: 25px;
        box-sizing: border-box;
        background-size: 18px;
        cursor: pointer;
      }
    }
  }
  .pen-stat {
    transform: rotate(90deg);
    display: inline-block;
    color: #FBAE17;
  }
  .cube-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left: 85px;
    .bottom-legend-heading,
    .left-legend-heading {
      padding: 5px;
      color: #706F6E;
      font-weight: 600;
    }
    .left-legend-heading {
      border-bottom: 1px solid #E2E2E2;
      margin-bottom: 5px;
    }
    .cube-row {
      .cube-size {
        width: 85px;
        margin: 1px;
        box-sizing: border-box;
        display: inline-block;
      }
      .inner-cube {
        font-size: 32px;
        padding: 24px;
        background: grey;
        color: white;
        position: relative;
        cursor: pointer;
        .accepted-val {
          position: absolute;
          right: 10px;
          bottom: 5px;
          font-size: small;
          font-weight: 100;
          &:after {
            content: '';
            display: inline-block;
            width: 3px;
            height: 7px;
            border: solid #FFF;
            margin-left: 8px;
            margin-bottom: 1px;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
      .highlight-cube {
        transition: ease-out, box-shadow 0.15s ease-out,;
        box-shadow: inset 0 0 0 3px #6464C3;
      }
    }
    .legend {
      color: #9E9E9E;
      font-size: 13px;
      cursor: pointer;
    }
    .legends-left {
      -webkit-transform: rotate(-90deg);
      position: absolute;
      top: 135px;
      text-align: center;
      left: -31%;
      padding: 10px 0 5px;
      .legend-selected:after {
        top: 33px;
        left: 45%;
        border-top: 5px solid #9E9E9E;
      }
    }
    .legend-selected {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
    .legends-bottom {
      border-bottom: 1px solid #E2E2E2;
      padding: 10px 0 5px;
      .legend-selected:after {
        top: -8px;
        left: 45%;
        border-bottom: 5px solid #9E9E9E;
      }
    }
  }
  .highImpact-container {
    border-left: 1px solid #E2E2E2;
    box-sizing: border-box;
    padding-left: 25px;
    min-height: 440px;
    .driver-list-wrapper {
      max-height: 75vh;
      overflow-y: scroll;
      background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
      background-repeat: no-repeat;
      background-color: white;
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
      background-attachment: local, local, scroll, scroll;
      overflow-x: hidden;
    }
    .driver-list-wrapper {
      .transformIt,
      .driver-status {
        text-transform: capitalize;
      }
      .secondary-header,
      .primary-header {
        margin: 10px;
        color: #006983;
        .acc-filter {
          margin-left: 20px;
          &:after {
            content: '';
            display: inline-block;
            width: 6px;
            height: 15px;
            border: solid #8CC63F;
            margin-bottom: 2px;
            border-width: 0 4px 4px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        .right-view {
          text-align: right;
          .pen-stat {
            font-size: 24px;
          }
        }
        .status-filter {
          width: 40px;
          text-align: center;
          display: inline-block;
          cursor: pointer;
        }
        .selected-filter {
          border-bottom: 4px solid #006983;
        }
      }
      .primary-header {
        border-bottom: 1px solid #E2E2E2;
        padding-bottom: 5px;
        .driver-count {
          color: #B5B2B2;
        }
      }
      .secondary-header {
        padding-top: 5px;
      }
    }
    .driver-list {
      list-style: none;
      padding: 0;

      //max-height: 40vh;
      //overflow-y: scroll;
      ///* Shadows */
      ///* Shadow covers */
      //background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
      //background-repeat: no-repeat;
      //background-color: white;
      //background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
      //
      ///* Opera doesn't support this in the shorthand */
      //background-attachment: local, local, scroll, scroll;
      //overflow-x: hidden;
      margin: 0;
      .list-item {
        padding: 10px;
        box-sizing: content-box;
        cursor: pointer;
        &:hover {
          background-color: #E6E6E6;
        }
      }
      .driver-status {
        float: right;
        color: white;
        background: grey;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        text-align: center;
        width: 100px;
        box-sizing: border-box;
      }
      .status-accepted {
        background-color: #8CC63F;
        &:before {
          content: '';
          display: inline-block;
          width: 3px;
          height: 7px;
          border: solid #FFF;
          margin-right: 15px;
          margin-bottom: 1px;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .status-pending {
        background-color: #FBAE17;
      }
      .bullet {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
      }
      .bullet,
      .driver-name {
        vertical-align: middle;
      }
      .driver-name {
        max-width: 70%;
        display: inline-block;
      }
    }
  }
}
